// Place all the styles related to the Providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_frame {

  .logo {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
  }

  .headline {
    max-width: 75%;
    text-align: center;
    margin: 0 auto;
  }
}

.well {
  margin-top: 35px;
}

.providers-list {
  padding: 15px;

  .well {
    h3 { margin: 0px; }
  }
}
