// Place all the styles related to the Providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_frame {

  .logo {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
  }

  .headline {
    max-width: 75%;
    text-align: center;
    margin: 0 auto;
  }
}

.well {
  margin-top: 35px;
}

.providers-list {
  padding: 15px;

  .well {
    h3 { margin: 0px; }
  }
}

div#sidebar {
  border-right: 1px solid #eeeeee;

  .logo {
    height: 150px;
    width: 150px;
  }

  .active {
    background-color: #eeeeee;
  }
  .menu {
    text-align: right;
  }
}

.tab-pane {
  padding: 0px 15px 0px 15px;
  .item {
    float: left;
    min-height: 150px;
  }
  small.break {
    word-break: break-all;
  }

  td {
    word-break: break-all;
  }
}

@media (min-width: 0px) and (max-width: 750px) {
  .tab-pane {
    .item {
      float: left;
      min-height: 15px;
    }
  }
}
